{%extends 'base.html'%}
{%block main%}
{%load static%}
{%include 'messages.html'%}

    <!-- Navigation -->
    <section class="navigation">
      <div class="parallax parallax--nav-3">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-12">
              <h2>
                Bidding History
              </h2>
              <ul class="breadcrumbs ul--inline ul--no-style">
                <li>
                  <a href=" {% static 'index.html' %} ">Home</a>
                </li>
                <span>/</span>

                <li class="active">
                  Bidding History
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Navigation -->
    <!-- Blog Grid 1 -->
<br><br><br>
<h3 align="center">Bidding History</h3>
<br>
        <div class="quicky-wishlist_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Bid Id</th>
                                            <th class="cart-product-name">Designer</th>
                                            <th class="quicky-product-price">Bid Amount</th>
                                            <th class="quicky-product-price">Status</th>
<!--                                            <th class="quicky-product-stock-status">Stock Status</th>-->
<!--                                            <th class="quicky-product_remove">remove</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for bid in user_bids %}
                                        <tr>
                                            <td>{{ bid.id }}</td>
                                            <td class="quicky-product-name">{{bid.designer.name}}</td>
                                            <td class="quicky-product-price"><span class="amount">{{bid.bid_amount}}</span></td>
                                            <td class="quicky-product-price"><span class="amount">{{bid.status}}</span></td>
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>

            </div>
        </div>




<br><br><br>

{%endblock%}